html {
    height:100%;
}

body {
    height:100%;
    position:relative;
}



* {
    box-sizing:border-box;
}

#app {
    height:100%;
}

.container {position:relative;}

.animate-in {   
    * {
        transition:transform 1s ease, opacity 1.5s ease;
        transform:translateY(0);
        opacity:1;

        &.invisible {
           transform:translateY(-1em);
           opacity:0;
        }
    }
}

.scroll {
    transition:transform 50ms ease;
}


#about {
    display:block;
    height:600px;
    background-color:#FFF;
    &:before {
        content:"";
        height:20px;
        background-color:#FFF;
        bottom:100%;
        position:absolute;
        width:100%;
    }
}

#work {
    position:relative;
    padding-top:50px;
    background-color:#FFF;
    margin-bottom:200px;
    z-index:3;
    overflow:hidden;

    * {
        position:relative;
    }

    /*&:before {//curved border at the top of the content section
        content:"";
        height:200px;
        background-image:url('../img/curved-border.svg');
        background-size:cover;
        background-position: center top;
        bottom:100%;
        position:absolute;
        width:100%;
    }*/

    &:before {
        //content:"";
        height:20%;
        position:absolute;
        top:-25px;
        transform-origin:60% 0%;
        transform:rotate(5deg);
        width:500%;
        background-color:#FFF;
        box-shadow:0px -3px 3px rgba(0,0,0,0.3);
        left:-200%;
    }
    
    //work pseudo element, creates the curved bottom at the bottom
    &:after {
        position:absolute;
        content:"";
        height:150px;
        width:100%;
        background-image:url('../img/curved-border-bottom.svg');
        background-position:top center;
        background-size:cover;
        left:0;
        top:calc(100% - 2px);
    }
    

    h2 {
        text-align:right;
        margin:.5em auto;
        position:relative;
        text-align: center;
        transform-origin:50% 50%;
        transform:translateX(10%) rotate(5deg);
        
        span {
            position:relative;            
            display:inline-block;
            background-color:#FFF;
            position:relative;
            padding:0 1em;
        }

        &:before {
            content:"";
            height:50%;
            width:110%;
            left:50%;
            top:50%;
            transform:translate(-60%, -55%);
            
            position:absolute;
            background-color:transparentize($ltBlue, 0.5);
        }

    }
    
    
    
}

#social-media {
    padding-top:100px;
    h2 {
        transform:rotate(-5deg);
        left:-10%;
         &:before {
            transform:translate(-40%, -50%);
        }
    }
}



//the section underneath the main cloud content area
.bottom {
    position:relative;
    z-index:2;
    margin-top:-200px;
    //background-color:$skyLt; //radial-gradient(circle at 0 0, lighten($skyLt, 15%), $skyLt 20%, $skyDk);
    background-color:$dkBlue;
    background-image: radial-gradient(ellipse 100% 150% at center top -20%, $mdBlue, $dkBlue 80%);
    padding:150px 0 300px;
    text-align:center;
    color:$ltBlue;
    font-size:22px;

    h2 {margin-bottom:.5em;}

    a,
    a:visited {
        color: $blueGray;
        font-weight:700;
        text-decoration:none;

        border-bottom:1px dashed $blueGray;
        transition:150ms all ease;
    }

    a:hover {
        color:lighten($blueGray,10%);
        border-color: lighten($blueGray,10%);
    }
}

footer,
.footer {
    background-color:$mdBlue;
    height:4em;
    position:relative;
    //z-index:3;
}