html {
    height:100%;
}

body {
    height:100%;
    position:relative;
}

* {
    box-sizing:border-box;
}

[v-cloak] {display: none}


.container {position:relative;}

.animate-in {   
    * {
        transition:transform 1s ease, opacity 1.5s ease;
        transform:translateY(0);
        opacity:1;

        &.invisible {
           transform:translateY(-1em);
           opacity:0;
        }
    }
}

main {
    position:relative;
    top:-25px;
    background-color:#FFF;
    z-index:3;

    * {
        position:relative;
    }
    

    h2 {
        margin:.5em auto;
        position:relative;
        text-align: center;
        transform-origin:50% 50%;
        overflow:hidden;

        span {
            position:relative;            
            display:inline-block;
            background-color: #fff;
            padding:0 1em;

            @media only screen and (max-width:$breakpoint-mobile) {
                padding:0 .5em;
            }
        }

        &::before {
            content:'';
            height:50%;
            width:120%;
            left:60%;
            top:50%;
            transform:translate(-50%, -55%);
            
            position:absolute;
            background-color:transparentize($ltBlue, 0.5);
        }
    } 

    #work {
        padding-top:50px;
    }
}



