.bottom {
    background-image: linear-gradient(to bottom, transparent, transparentize($heroLt,0.5) 90%), 
                          radial-gradient(ellipse 100% 150% at center bottom, $heroLt, $heroDk 80%);
    background-blend-mode: lighten, normal;   
    background-size:cover;
    background-position:center top;

}

.clouds-bottom {
    height:300px;
    position:relative;
    
}



#btm-fg-cloud,
#btm-bg-cloud-1,
#btm-bg-cloud-2 {
    position:absolute; 
    left:0;
    top:0;
    width:100%;
    overflow:hidden;
    transform:rotate(180deg);
}

#btm-fg-cloud {
  height:100%
}

#btm-bg-cloud-1 {
    height:100%;
    mix-blend-mode:soft-light;
}

#btm-bg-cloud-2 {
    height:100%;
    mix-blend-mode:soft-light;
}

