.hero {
    //position:fixed;
    //background-color:$skyMd;
    background-image: //linear-gradient(to bottom, transparentize(#3d5f8e, .1), #0e365c 90%), 
    radial-gradient(ellipse 100% 150% at center bottom, $mdBlue, $dkBlue 80%);
                       //radial-gradient(ellipse 100% 150% at center bottom, transparent 80%, #484848 80%),
                       //radial-gradient(ellipse 100% 150% at center bottom 5%, transparent 70%, #8f8f8f 70%),
                       //radial-gradient(ellipse 100% 150% at center bottom 10%, #b2b2b2, #b2b2b2 64%);
    //background-color: $dkBlue;
    //background-image: radial-gradient(ellipse at center -50%, $mdBlue 0%, darken($mdBlue, 15%) 50%,$dkBlue 100%);
                       
    background-size:cover;
    background-position:center bottom;
    height:103%;
    padding:3em;
    perspective:500px;
    z-index:1;
    overflow:hidden;
}

.hero__spacer {
    display:none;
    height:103%;
    position:relative;
    z-index:0;
}
.hero__content {
    position:relative;
    top:25%;
    transform-origin:50% 100%;
    z-index:3;
}

.hero__logo {
    width:100%;
    text-align:center;

    img {
        width:100%;
        max-width:220px;
    }
}
$borderWidth : 5px; 
.hero__text {
    width:100%;
    max-width:600px;
    position:relative;
    margin:0 auto;
    text-align:center;
    color:#FFF;
    z-index:5;

    h1 {
        //overwrite the font-family in variables/fonts
        font-family:'soleil', helvetica, sans-serif;
        font-size:45px;
        margin-top:.25em;
        font-size:2.75rem;
        font-weight:700;
        text-transform:uppercase;

        small {
            display:flex;
            align-items:center;
            justify-content:center;
            margin-top:.5em;
            font-size:32px;
            font-size:1.8rem;
            font-weight:500;

            span {
                flex: 1 1 0;
                opacity:0.6;
                letter-spacing:1px;
            }

            span.divider {
                flex: 0 0 1em;
                font-size:1.25em;
                font-weight:500;
                opacity:1;
            }
            span:first-child {text-align:right;}
            span:last-child {text-align:left;}
        }
    }

    &:before {
        //dashed circle
        //content:"";
        width:60%;
        height:0;
        padding-bottom:calc(60% - #{$borderWidth*2});
        position:absolute;
        left:50%;
        top:50%;

        border-radius:50%;
        border:$borderWidth dashed transparentize(#FFF, .6);
        transform-origin:50% 50%;
        transform:translate(-50%, -50%);
        //animation: spin 30s infinite linear;
    }
    &:after {
        position:absolute;
        width:100%;
        height:0;
        padding-bottom:35%;
        bottom:-50%;
        background-image:linear=gradient(to top, )

    }
}

#stars {
    position:absolute;
    width:2000px; 
    height:2000px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    animation:rotate 200s infinite forwards;
}

#stars circle:nth-child(3n),
#stars circle:nth-child(7n),
#stars circle:nth-child(9n) {
    //animation: twinkletwinkle 3s infinite;
}

#stars circle:nth-child(4n),
#stars circle:nth-child(8n),
#stars circle:nth-child(11n) {
    //animation: twinkletwinkle 3s infinite 2s;
}

@keyFrames twinkletwinkle {
    0% {
        opacity:0.1;
    }

    50% {
        opacity:1;
    }


    100% {
        opacity:0.1;
    }
}

#fg-cloud,
#bg-cloud-1,
#bg-cloud-2 {
  position:absolute; 
  left:0;
  bottom:0;
  width:100%;
  overflow:hidden;
}

#fg-cloud {
  height:100%
}

#bg-cloud-1 {
    height:100%;
}

/*.bg-clouds1-wrap {
    height: 28%;    
}*/

#bg-cloud-2 {
    height:100%;
}

/*.bg-clouds2-wrap {
    height: 32%;
}*/

svg {width:100%; height:100%;}

