.hero {
    position:fixed;
    background-color:$skyMd;
    background-image:url('../img/mountains.svg'), radial-gradient(circle at 0 0, lighten($skyLt, 15%), $skyLt 20%, $skyDk);
    background-size:cover, cover;
    background-position:center bottom, 0 0;
    height:100%;
    padding:3em;
    perspective:500px;
    z-index:1;
}

.hero__spacer {
    height:100%;
    position:relative;
    z-index:0;
}
.hero__content {
    position:relative;
    top:25%;
    transform-origin:50% 100%;

}

.hero__logo {
    width:100%;
    text-align:center;

    img {
        width:100%;
        max-width:250px;
    }
}
$borderWidth : 5px; 
.hero__text {
    width:100%;
    max-width:800px;
    position:relative;
    margin:0 auto;
    text-align:center;
    color:#FFF;

    h1 {
        //overwrite the font-family in variables/fonts
        font-family:'soleil', helvetica, sans-serif;
        font-size:50px;
        font-size:3rem;
        font-weight:600;
        text-transform:uppercase;

        small {
            font-size:35px;
            font-size:2rem;
            font-weight:400;
        }
    }

    &:before {
        //dashed circle
        //content:"";
        width:60%;
        height:0;
        padding-bottom:calc(60% - #{$borderWidth*2});
        position:absolute;
        left:50%;
        top:50%;

        border-radius:50%;
        border:$borderWidth dashed transparentize(#FFF, .6);
        transform-origin:50% 50%;
        transform:translate(-50%, -50%);
        //animation: spin 30s infinite linear;
    }
    &:after {
        position:absolute;
        width:100%;
        height:0;
        padding-bottom:35%;
        bottom:-50%;
        background-image:linear=gradient(to top, )

    }
}

.cloud {
    position:absolute;
    bottom:0;
    left:0;
    width:200%;

    &-foreground {
        height:20%;
        background-image:url('../img/cloud-test.svg');
        background-repeat:repeat-x;
        background-position:-1px 0;
    }
    
}



#fg-clouds,
#bg-clouds1,
#bg-clouds2 {
  position:absolute; 
  left:0;
  bottom:0;
  width:100%;
}

#fg-clouds {
  height:200px; 
}

.fg-clouds-wrap {
    height: 20%;    
}

#bg-clouds1 {
  height:28%;
  max-height:600px;
  min-height:160px;
}

/*.bg-clouds1-wrap {
    height: 28%;    
}*/

#bg-clouds2 {
  height:32%;
  max-height:650px;
  min-height:170px;
}

/*.bg-clouds2-wrap {
    height: 32%;
}*/

svg {width:100%; height:100%; stroke-opacity:0;}
#windFrame {position:absolute;top:0;left:0;width:100%;height:100%; stroke-opacity:1;}

#fg-clouds svg {fill:#FFF;}
#bg-clouds1 svg {fill:#FFF; opacity:0.5}
#bg-clouds2 svg {fill:#FFF; opacity:0.5}