#social-media {
    margin:50px auto 100px;
    padding-top:50px;
}

.social-media__wrap {
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap;

    h2 {
         &:before {
            transform:translate(-50%, -50%);
        }
    }
}

.social-media__item {
    width:80%;
    max-width: 180px;
    text-align:center;

    a.social-media__item__logo {
        display:block;
        background-color:$blueGray;
        border-radius:8px;
        box-shadow:inset 0px 0px 15px darken($blueGray, 15%);
        transition: all 150ms;

        &:hover {
         background-color:darken($blueGray, 5%);   
        }

    }

    a.social-media__item__logotype {
        display:block;
    }
}