//Typekit font
@import url("https://use.typekit.net/zaf6yjg.css");

$fontStack-copy :  "soleil", helvetica, sans-serif;
$fontStack-headings:  "alternate-gothic-no-3-d", sans-serif;

body {
    font-family: $fontStack-copy;
    font-size:16px; //default font size
}

h1, h2, h3 {
    font-family: $fontStack-headings;
    font-weight:700;
}

h1 {
    font-size:5rem;
}

h2 {
    font-size:5rem;
    color:$blueGray;
    font-weight:500;
    letter-spacing:1px;
    text-transform:uppercase;
};

h3 {
    font-size:2rem;
}

